*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

html,body   
{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #07252d;
    place-items: center;
}

h2
{
    position: relative;
    font-size: 6em;
    letter-spacing: 14px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align:  center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0%{
        color: #0e3742;
        box-shadow: none;
    }
    50%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4;
    }
}

/* button */

.center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.outer
{
    position: relative;
    margin: 0 50px;
    background: #0e3742;
}

.button
{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.outer button, .outer span
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.outer button
{
    background:#0e3742;
    color: aqua;
    outline: none;
    border: none;
    font-size: 20px;
    z-index: 9;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

.button button
{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

.outer:hover span
{
    height: 100%;
    width: 100%;
    background: inherit;
}

.button span
{
    border-radius: 50%;
}

.outer:hover span:nth-child(2)
{
    filter: blur(14px);
}

.outer:hover
{
    background: linear-gradient(#14ffe9,#ffeb3b,#ff00e0);
    animation: rotate 1.5s linear infinite;
}
@keyframes rotate
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}

@media (max-width: 640px) 
{
    h2
    {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: #323946;
}

.footer-text p
{
    font-size: 1.6rem;
}
.footer-iconTop a
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #1f242d;
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-iconTop a:hover
{
    box-shadow: 0 0 1rem #0ef;
}
.footer-iconTop a i
{
    font-size: 2.4rem;
    color: #323946;
    
}
